body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-75px;
  width:1499px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:830px;
  width:300px;
  height:614px;
  display:flex;
}
#u1721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:89px;
  width:300px;
  height:614px;
  display:flex;
}
#u1722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:615px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:89px;
  width:300px;
  height:615px;
  display:flex;
}
#u1723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:89px;
  width:300px;
  height:614px;
  display:flex;
}
#u1724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:819px;
  width:300px;
  height:614px;
  display:flex;
}
#u1725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:1454px;
  width:300px;
  height:614px;
  display:flex;
}
#u1726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:1274px;
  top:2084px;
  width:300px;
  height:614px;
  display:flex;
}
#u1727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:345px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1728_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:52px;
}
#u1728_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:40px;
  width:240px;
  height:12px;
}
#u1728_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1728_seg3 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:34px;
  width:24px;
  height:24px;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:351px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1729_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:792px;
}
#u1729_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:780px;
  width:307px;
  height:12px;
}
#u1729_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1729_seg3 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:774px;
  width:24px;
  height:24px;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:526px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1730_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:86px;
  height:12px;
}
#u1730_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-6px;
  width:12px;
  height:492px;
}
#u1730_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:474px;
  width:100px;
  height:12px;
}
#u1730_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1730_seg4 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:468px;
  width:24px;
  height:24px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:238px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1731_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:86px;
  height:12px;
}
#u1731_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-6px;
  width:12px;
  height:1127px;
}
#u1731_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1109px;
  width:100px;
  height:12px;
}
#u1731_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1731_seg4 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1103px;
  width:24px;
  height:24px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:556px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:646px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1732_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:86px;
  height:12px;
}
#u1732_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-6px;
  width:12px;
  height:1757px;
}
#u1732_seg2 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1739px;
  width:100px;
  height:12px;
}
#u1732_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1732_seg4 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:1733px;
  width:24px;
  height:24px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:870px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:1382px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1733_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:145px;
  height:12px;
}
#u1733_seg1 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:-6px;
  width:12px;
  height:1021px;
}
#u1733_seg2 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:1003px;
  width:430px;
  height:12px;
}
#u1733_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1733_seg4 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:997px;
  width:24px;
  height:24px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:89px;
  top:638px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:603px;
  width:243px;
  height:85px;
  display:flex;
}
#u1734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:1339px;
  width:243px;
  height:85px;
  display:flex;
}
#u1735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:1085px;
  top:270px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1736_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:16px;
}
#u1736_seg1 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:4px;
  width:158px;
  height:12px;
}
#u1736_seg2 {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:4px;
  width:12px;
  height:128px;
}
#u1736_seg3 {
  border-width:0px;
  position:absolute;
  left:-327px;
  top:120px;
  width:187px;
  height:12px;
}
#u1736_seg4 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1736_seg5 {
  border-width:0px;
  position:absolute;
  left:-331px;
  top:114px;
  width:24px;
  height:24px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:-196px;
  top:72px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:634px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1737_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:9px;
  height:12px;
}
#u1737_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-6px;
  width:12px;
  height:205px;
}
#u1737_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1737_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:179px;
  width:24px;
  height:24px;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:89px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:575px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1738_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:92px;
  height:12px;
}
#u1738_seg1 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-6px;
  width:12px;
  height:14px;
}
#u1738_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-4px;
  width:95px;
  height:12px;
}
#u1738_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1738_seg4 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-10px;
  width:24px;
  height:24px;
}
#u1738_text {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:349px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1739_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-328px;
  width:12px;
  height:328px;
}
#u1739_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-328px;
  width:735px;
  height:12px;
}
#u1739_seg2 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:-328px;
  width:12px;
  height:68px;
}
#u1739_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-16px;
  width:24px;
  height:24px;
}
#u1739_seg4 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:-280px;
  width:24px;
  height:24px;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:182px;
  top:-348px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
