body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:717px;
  width:300px;
  height:614px;
  display:flex;
}
#u1709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:46px;
  width:300px;
  height:614px;
  display:flex;
}
#u1710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:46px;
  width:300px;
  height:614px;
  display:flex;
}
#u1711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:717px;
  width:300px;
  height:614px;
  display:flex;
}
#u1712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1px;
  width:126px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1713 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1713_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1px;
  width:126px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1714 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1714_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1399px;
  width:300px;
  height:614px;
  display:flex;
}
#u1715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:2054px;
  width:300px;
  height:614px;
  display:flex;
}
#u1716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:266px;
  width:0px;
  height:0px;
}
#u1717_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:457px;
}
#u1717_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1717_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:431px;
  width:24px;
  height:24px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1274px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1718_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:204px;
  height:12px;
}
#u1718_seg1 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-256px;
  width:12px;
  height:262px;
}
#u1718_seg2 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-256px;
  width:23px;
  height:12px;
}
#u1718_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1718_seg4 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-262px;
  width:24px;
  height:24px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1285px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1719_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:427px;
}
#u1719_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:415px;
  width:216px;
  height:12px;
}
#u1719_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1719_seg3 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:409px;
  width:24px;
  height:24px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:306px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1280px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1720_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:1087px;
}
#u1720_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:1075px;
  width:266px;
  height:12px;
}
#u1720_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1720_seg3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1069px;
  width:24px;
  height:24px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:662px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
