body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:717px;
  width:300px;
  height:614px;
  display:flex;
}
#u1671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:46px;
  width:300px;
  height:614px;
  display:flex;
}
#u1672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:46px;
  width:300px;
  height:614px;
  display:flex;
}
#u1673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:717px;
  width:300px;
  height:614px;
  display:flex;
}
#u1674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:1px;
  width:126px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:1px;
  width:126px;
  height:43px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:1399px;
  width:300px;
  height:614px;
  display:flex;
}
#u1677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:614px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:2054px;
  width:300px;
  height:614px;
  display:flex;
}
#u1678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:266px;
  width:0px;
  height:0px;
}
#u1679_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:457px;
}
#u1679_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1679_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:431px;
  width:24px;
  height:24px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:1274px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1680_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:204px;
  height:12px;
}
#u1680_seg1 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-256px;
  width:12px;
  height:262px;
}
#u1680_seg2 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-256px;
  width:23px;
  height:12px;
}
#u1680_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-12px;
  width:24px;
  height:24px;
}
#u1680_seg4 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-262px;
  width:24px;
  height:24px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1285px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1681_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:427px;
}
#u1681_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:415px;
  width:216px;
  height:12px;
}
#u1681_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1681_seg3 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:409px;
  width:24px;
  height:24px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:306px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:1280px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1682_seg0 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:0px;
  width:12px;
  height:1087px;
}
#u1682_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:1075px;
  width:266px;
  height:12px;
}
#u1682_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:24px;
  height:24px;
}
#u1682_seg3 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1069px;
  width:24px;
  height:24px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:662px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
